.editForm{
    margin: 10% auto;
    width: 300px;
    text-align: center;

}

textarea{
    resize: none;
    width: 100%;
    height: 40vh;
    background: rgb(235, 231, 49);
}

.btnEdit{
    top: 10px;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    background: snow;
    border: none;
    font-size: 15px;
    height: 40px;
    margin: 10px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 30px;
    background-size: 100% 100%;
    position: relative;
    
}

.linkBtn{
    
    padding: 10px;
    color: black;
}

.linkBtn:visited{
    color: black;
}