.TrashCan{
    margin-top: 1%;
    width: 90px;
    height: 90px;
    background-size: contain;
    /*background: url("../assets/trashCan/recycle_bin_empty_small.png");*/
}

.trashCanContainer{
    display: flex;
    justify-content: space-between;
}

.boton{
    display: flex;
    justify-content:left;
    margin-top: 1%;
    font-size: 35px;
    
}

.btnAdd{
    font-weight: 600;
    text-align: center;
    height: 20px !important;
    width: 85px;
    margin: 2% 3% !important;
}
