.TrashCan{
    margin-top: 1%;
    width: 90px;
    height: 90px;
    background-size: contain;
    /*background: url("../assets/trashCan/recycle_bin_empty_small.png");*/
}

.trashCanContainer{
    text-align: -webkit-right;
}
