.postItWrap{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.postIt{
    margin: 2vh 2vw;
    padding: 15px;
    height: 190px;
    width: 190px;
    background: rgb(235, 231, 49);
    
    
}

.postItContainer{
    margin: 5% 12.5%;
}
