@font-face {
    font-family: "whiteboard";
    src: url("../assets/font/GrutchShaded.ttf");
}



.postItWrap{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.postIt{
    margin: 2vh 2vw;
    padding: 15px;
    height: 190px;
    width: 190px;
    background: rgb(235, 231, 49);
    
    
}


@keyframes MoveUpDown {
    0%, 100% {
        margin-top: 0vh;
    }
    50% {
        margin-top: 2vh;
    }
}
.postIt:hover{
    animation: MoveUpDown 1s ease-in-out infinite;
    /*margin-top: 0;*/
}

.postItContainer{
    margin: 2% 12.5%;
}

.postItContainer h1{
    font-size: 100px;
    font-weight: 100;
    margin: 1%;
    font-family: "whiteboard", Arial, Helvetica;
    color: white;
    text-align: center;
}


.btnadd{
    margin: auto;
}